name: Continuous build

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.13.1
      - name: Install dependencies
        run: yarn
      - name: Lint
        run: yarn lint
  validate-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.13.1
      - name: Install dependencies
        run: yarn
      - name: Validate @api3/dapi-management coverage
        run: yarn validate:dapi-management-coverage
