name: Release

on:
  push:
    branches:
      - production

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - name: Clone repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Ensure main is present for commit message prep
        run: |
          git checkout main
          git checkout production
      - name: Prepare commit message
        run: |
          echo "NEW_VERSION=$(pnpm changeset status --output=release.json > /dev/null && jq -r '.releases[0].newVersion' release.json && rm release.json)" >> "$GITHUB_ENV"
      - name: Check release
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run release
          commit: "ci: release nodary-utilities v${{ env.NEW_VERSION }}"
          title: "ci: release nodary-utilities v${{ env.NEW_VERSION }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true

      - name: Create pull request
        if: steps.changesets.outputs.published == 'true'
        run: gh pr create -B main -H production --title 'Merge production into main' --body 'Merges production into main' --reviewer hiletmis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
